@font-face {
  font-family: 'poppins';
  src: url('assets/fonts/Poppins-Regular.ttf');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #F3F3E0;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  font-family: 'poppins';
}